*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html,body{
    width:100%;height:100%;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
input,button{
    border:0;
    outline:0;
    cursor:pointer;
}
.clearfix::before,
.clerafix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{float:left;}
.fr{float:right;}
.txl{text-align:left;}
.txr{text-align:right;}
.txc{text-align:center;}
.mg_t_5{margin-top:5px;}
.mg_t_10{margin-top:10px;}
.mg_t_15{margin-top:15px;}
.mg_t_20{margin-top:20px;}
.mg_b_5 {margin-bottom:5px;}
.mg_b_10{margin-bottom:10px;}
.mg_b_15{margin-bottom:15px;}
.mg_b_20{margin-bottom:20px;}
.container{
  display: block;
  width:990px;
  margin:0 auto;
}
#app{
    width:100%;
    height:100%;
}
.resemGoods{
  display: none;
}
.goods_content:hover .resemGoods{
  display: block;
}
.normal{
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -495px;
}
.static{
  position: static;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    height: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
